              *{padding: 5px;
                color: white;
font-size: 14px;
font-family: cursive;}
            body{margin: 0px; padding: 0px;background-color:#696969;
            width: 460px ; height: 540px }
            fieldset{width: 442px;height: 523px;
                background-color:#696969;border-color: #ffffff}
            .wey{background-color:#696969;}
            img{position: absolute;
                top: 10px;
                left: 320px;}
            input{border-radius: 10px;
                border-color:#FFFAFA;}
            .x,.y,.z{background-color: #696969;
                border: none;
                margin-right: 35px;
                width: 100px;
                border: 1px solid white;}
            .li{width: 250px;
                padding-left: 10px}
            .texto{
                border: none;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                height: 20px;
                width: 400px;
                background: white;
                color: grey;
                padding-left: 10px;
            }
            html{animation: 8s linear infinite alternate slidein;
            }
            @keyframes slidein {
                from { background:hsl(0,100%,50%); }
                12.5%   { background:hsl(45,100%,50%); }
                25%   { background:hsl(90,100%,50%); }
                37.5%   { background:hsl(135,100%,50%); }
                50%   { background:hsl(180,100%,50%); }
                62.5%   { background:hsl(225,100%,50%); }
                75%   { background:hsl(270,100%,50%); }
                87.5%   { background:hsl(315,100%,50%); }
                to   { background:hsl(360,100%,50%); }
            }